
<ion-header [ngClass]="version == '01' ? 'principalHeader' : version == '02' ? 'principalHeaderV02' : 'principalHeader'">
  <img [ngClass]="version == '01' ? 'principal-icon' : version == '02' ? 'principal-icon-v02' : 'principal-icon'"
  src="{{ globalUrl + clienteCompanyLogo }}" />
  
  <img *ngIf="version == '01'" class="testeira-v01" 
  src="{{ globalUrl + '/storage/uploads/configs/testeira1.png' }}" >

  <img *ngIf="version == '02'" class="testeira-v02" 
  src="{{ globalUrl + '/storage/uploads/configs/testeira2.png' }}" >
  

</ion-header>
<ion-content  class="content {{ENV.PROJECT}}-custom-bg" [ngClass]="version == '01' ? 'margin-content-l1' : version == '02' ? 'margin-content-l2' : 'margin-content-l1'" padding >
 
  <h1 style="text-align:center; color:#FFF; font-weight: 100;">Recuperar Senha</h1>
  <p *ngIf="idiom == '01'">Informe seu e-mail de cadastro e data de nascimento para resetar sua senha.</p>
  <p *ngIf="idiom == '02'">Informe tu correo electrónico registrado y fecha de nascimiento para el reset de tu contraseña.</p>

  <ion-list>

    <ion-item class="fieldElement">
      <ion-label *ngIf="idiom == '01'" class="label" floating>E-MAIL</ion-label>
      <ion-label *ngIf="idiom == '02'" class="label" floating>CORREO ELECTRÓNICO</ion-label>
      <ion-input type="email" autocomplete="off"  [(ngModel)]="credential.email" ></ion-input>
    </ion-item>
    <ion-item class="fieldElement">
      <ion-label *ngIf="idiom == '01'" class="label" floating>DATA DE NASCIMENTO</ion-label>
      <ion-label *ngIf="idiom == '02'" class="label" floating>FECHA DE NASCIMIENTO</ion-label>
      <ion-input type="text" autocomplete="off"  [(ngModel)]="credential.nascimento" [brmasker]="{mask:'00/00/0000', len:10, type:'num'}"></ion-input>
    </ion-item>
    
    <ion-item class="fieldElement">
      <ion-label *ngIf="idiom == '01'" class="label" floating>NOVA SENHA</ion-label>
      <ion-label *ngIf="idiom == '02'" class="label" floating>NUEVA CONTRASEÑA</ion-label>
      <ion-input type="password" [(ngModel)]="credential.senha"></ion-input>
    </ion-item> 
    
  </ion-list>

  <div class="grid-style">
    <button ion-button full icon-start  class="button-style button-style-{{ENV.PROJECT}}"  (click)="resetPassword()">
      <p *ngIf="idiom == '01'">Resetar</p>
      <p *ngIf="idiom == '02'">Reset</p>
    </button> 
    <button ion-button full icon-start  class="button-style button-style-{{ENV.PROJECT}}"  (click)="cancelar()">
      <p *ngIf="idiom == '01'">Voltar</p>
      <p *ngIf="idiom == '02'">Volver</p>
    </button> 
  </div>

</ion-content>
  