page-login {

  .body{

    @media (max-width: 400px) {
        .min-height{
            min-height: 50%;
        }
    }
    @media (min-width: 401px) {
        .min-height{
            min-height: 50%;
        }
    }
    
    @media (orientation: landscape){
        background-size: 100% auto !important;
    }
    @media (orientation: portrait){
        background-size: auto 100% !important;
    } 

    .version-text{
       font-size: 13px;
        font-style:italic;
        float:right;
        margin-top:20px;
        margin-right:3px;
    }

  }

  .scroll-content{
      padding: 0 16px !important;
  }
}
