
<ion-content class="body background-{{ENV.PROJECT}}" padding>

  <div class="min-height"></div>

  <ion-list>

      <ion-item *ngIf="idiom == '01'" class="fieldElement">
        <ion-label class="{{ENV.TEXT_COLOR_V1}}" floating>CPF/CNPJ</ion-label>
        <ion-input class="{{ENV.TEXT_COLOR_V1}}" type="text" autocomplete="off" [brmasker]="{person: true}" [(ngModel)]="credential.documento"></ion-input>
      </ion-item>

      <ion-item *ngIf="idiom == '02'"  class="fieldElement">
        <ion-label class="{{ENV.TEXT_COLOR_V1}}" floating>E-MAIL</ion-label>
        <ion-input class="{{ENV.TEXT_COLOR_V1}}" type="text" autocomplete="off" [(ngModel)]="credential.documento"></ion-input>
      </ion-item>

      <ion-item *ngIf="hide"  class="fieldElement" style="margin-top: 12px;">
        <ion-label *ngIf="idiom == '01'" class="{{ENV.TEXT_COLOR_V1}}" floating>SENHA</ion-label>
        <ion-label *ngIf="idiom == '02'" class="{{ENV.TEXT_COLOR_V1}}" floating>CONTRASEÑA</ion-label>
        <ion-input class="{{ENV.TEXT_COLOR_V1}}" type="password" [(ngModel)]="credential.password"></ion-input>
      </ion-item>

    </ion-list>
    <a *ngIf="hide" class="{{ENV.TEXT_COLOR_V1}}" (click)="recoveryPassword()" >
      <div style="margin-top: 20px; margin-bottom: 20px;" *ngIf="idiom == '01'">Esqueci minha senha</div>
      <div style="margin-top: 20px; margin-bottom: 20px;" *ngIf="idiom == '02'">He olvidado mi contraseña</div>
    </a>

    <button class="button-style button-style-{{ENV.PROJECT}} disable-hover button button-md button-default button-default-md button-full button-full-md" ion-button full icon-start (click)="login()">
      <p *ngIf="idiom == '01'">Entrar</p>
      <p *ngIf="idiom == '02'">Iniciar sesión</p>
    </button>

    <button class="button-style button-style-{{ENV.PROJECT}} disable-hover button button-md button-default button-default-md button-full button-full-md" *ngIf="project != 'edicom'" ion-button full icon-start (click)="openPage('downloads')">
      <p *ngIf="idiom == '01'">Meus Downloads</p>
      <p *ngIf="idiom == '02'">Mis Archivos</p>
    </button>

    <div><p class="{{ENV.TEXT_COLOR_V1}} version-text" >v. 1.0.0</p></div>


</ion-content>
