page-register {

    .body{
        &.background-ead{
            background: #000 url("https://vcc.becinteligencia.com/storage/uploads/configs/loginMobile.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto 100%;
        }
        &.background-edicom{
            background: #000 url("https://edicom.becinteligencia.com/storage/uploads/configs/loginMobile.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto 100%;
        }
        &.background-marketing-house{
            background: #000 url("https://homolog.marketinghouse.com.br/storage/uploads/configs/loginMobile.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto 100%;
        }
        &.background-hkt369{
            background: #000 url("https://descubre.hkt369.com/storage/uploads/configs/loginMobile.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto 100%;
        }
        &.background-knowh{
            background: #000 url("https://knowhouse.marketinghouse.com.br/storage/uploads/configs/loginMobile.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto 100%;
        }
        &.background-ava{
            background: #000 url("https://ava.insighttech.com.br/storage/uploads/configs/loginMobile.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto 100%;
        }
        &.background-tmc{
            background: #000 url("https://tmc.becinteligencia.com/storage/uploads/configs/loginMobile.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto 100%;
        }
        &.background-r2m{
            background: #000 url("https://readytomarket.becinteligencia.com/storage/uploads/configs/loginMobile.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto 100%;
        }
    }

    .required-info{
        font-style: italic;
    }

}
.scroll-content{
  padding: none !important;
}