
<ion-header [ngClass]="version == '01' ? 'principalHeader' : version == '02' ? 'principalHeaderV02' : 'principalHeader'">
  <img [ngClass]="version == '01' ? 'principal-icon' : version == '02' ? 'principal-icon-v02' : 'principal-icon'"
  src="{{ globalUrl + clienteCompanyLogo }}" />
  
  <img *ngIf="version == '01'" class="testeira-v01" 
  src="{{ globalUrl + '/storage/uploads/configs/testeira1.png' }}" >

  <img *ngIf="version == '02'" class="testeira-v02" 
  src="{{ globalUrl + '/storage/uploads/configs/testeira2.png' }}" >
  
</ion-header>
<ion-content padding class="content {{ENV.PROJECT}}-custom-bg" [ngClass]="version == '01' ? 'margin-content-l1' : version == '02' ? 'margin-content-l2' : 'margin-content-l1'">

  <ion-list style="margin-top: 20%;">
    <ion-item class="fieldElement">
      <ion-label class="{{ENV.TEXT_COLOR_V1}}" floating *ngIf="idiom == '01'">Nome *</ion-label>
      <ion-label class="{{ENV.TEXT_COLOR_V1}}" floating *ngIf="idiom == '02'">Nombre *</ion-label>
      <ion-input class="{{ENV.TEXT_COLOR_V1}}" type="text" [(ngModel)]="credential.nome"></ion-input>
    </ion-item>

    <ion-item class="fieldElement">
      <ion-label class="{{ENV.TEXT_COLOR_V1}}" floating>CPF *</ion-label>
      <ion-input class="{{ENV.TEXT_COLOR_V1}}" type="text" [(ngModel)]="credential.documento" [brmasker]="{person: true}"></ion-input>
    </ion-item>

    <ion-item class="fieldElement" *ngIf="hide">
      <ion-label class="{{ENV.TEXT_COLOR_V1}}" floating *ngIf="idiom == '01'">Nome da Empresa *</ion-label>
      <ion-label class="{{ENV.TEXT_COLOR_V1}}" floating *ngIf="idiom == '02'">Nombre de la empresa *</ion-label>
      <ion-input class="{{ENV.TEXT_COLOR_V1}}" type="text" [(ngModel)]="credential.empresa"></ion-input>
    </ion-item>

    <ion-item class="fieldElement">
      <ion-label class="{{ENV.TEXT_COLOR_V1}}" floating>Whatsapp *</ion-label>
      <ion-input class="{{ENV.TEXT_COLOR_V1}}" type="text"  [(ngModel)]="credential.whatsapp" [brmasker]="{mask:'(00) 00000-0000', len:15, type:'num'}"></ion-input>
    </ion-item>

    <ion-item class="fieldElement" *ngIf="project != 'edicom'">
      <ion-label class="{{ENV.TEXT_COLOR_V1}}" floating *ngIf="idiom == '01'">Data de Nascimento *</ion-label>
      <ion-label class="{{ENV.TEXT_COLOR_V1}}" floating *ngIf="idiom == '02'">Fecha de Nacimiento *</ion-label>
      <ion-input class="{{ENV.TEXT_COLOR_V1}}" type="text"  [(ngModel)]="credential.nascimento" [brmasker]="{mask:'00/00/0000', len:10, type:'num'}"></ion-input>
    </ion-item>

    <ion-item class="fieldElement">
      <ion-label class="{{ENV.TEXT_COLOR_V1}}" floating *ngIf="idiom == '01'">E-mail *</ion-label>
      <ion-label class="{{ENV.TEXT_COLOR_V1}}" floating *ngIf="idiom == '02'">Correo *</ion-label>
      <ion-input class="{{ENV.TEXT_COLOR_V1}}" type="text" [(ngModel)]="credential.email"></ion-input>
    </ion-item>

    <ion-item class="fieldElement">
      <ion-label class="{{ENV.TEXT_COLOR_V1}}" floating *ngIf="idiom == '01'">Senha *</ion-label>
      <ion-label class="{{ENV.TEXT_COLOR_V1}}" floating *ngIf="idiom == '02'">Contraseña *</ion-label>
      <ion-input class="{{ENV.TEXT_COLOR_V1}}" type="password" [(ngModel)]="credential.password"></ion-input>
    </ion-item>

    <ion-item class="fieldElement">
      <ion-checkbox [(ngModel)]="credential.aceite"></ion-checkbox>
      <ion-label class="{{ENV.TEXT_COLOR_V1}}" *ngIf="idiom == '01'">Aceito os <a href="https://becinteligencia.com/politica-de-privacidade" target=_blank>termos e políticas de privacidade</a>.</ion-label>
      <ion-label class="{{ENV.TEXT_COLOR_V1}}" *ngIf="idiom == '02'">Acepto los <a href="https://becinteligencia.com/politica-de-privacidade" target=_blank>términos y políticas de privacidad</a>.</ion-label>
    </ion-item>
  </ion-list>

  <p class="required-info {{ENV.TEXT_COLOR_V1}}" *ngIf="idiom == '01'">* Campos obrigatórios</p>
  <p class="required-info {{ENV.TEXT_COLOR_V1}}" *ngIf="idiom == '02'">* Campos obligatórios</p>
  <ion-grid style="margin-bottom: 110px;">
    <ion-row>
      <ion-col col-6>
        <button ion-button full color="secondary"  class="buttonMedium" (click)="makeRegister()" >
          <p *ngIf="idiom == '01'">Cadastrar</p>
          <p *ngIf="idiom == '02'">Registrar</p>
        </button>
    </ion-col>
      <ion-col col-6>
        <button ion-button full  class="buttonMedium"  color="light" (click)="goBack()" >
          <p>Cancelar</p>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
