
<ion-header [ngClass]="version == '01' ? 'principalHeader' : version == '02' ? 'principalHeaderV02' : 'principalHeader'">
  <div>
    <img [ngClass]="version == '01' ? 'principal-icon' : version == '02' ? 'principal-icon-v02' : 'principal-icon'"
     src="{{ globalUrl + clienteCompanyLogo }}" />

    <img *ngIf="version == '01'" class="testeira-v01" 
    src="{{ globalUrl + '/storage/uploads/configs/testeira1.png' }}" >

    <img *ngIf="version == '02'" class="testeira-v02" 
    src="{{ globalUrl + '/storage/uploads/configs/testeira2.png' }}" >

  </div>
</ion-header>
<ion-content style="background-color: #fff;" class="content {{ENV.PROJECT}}-custom-bg" [ngClass]="version == '01' ? 'margin-content-l1' : version == '02' ? 'margin-content-l2' : 'margin-content-l1'" padding>
  <ion-card padding>
    <ion-item>
      <ion-label *ngIf="idiom =='01'" floating>Nome *</ion-label>
      <ion-label *ngIf="idiom =='02'" floating>Nombre *</ion-label>
      <ion-input type="text" [(ngModel)]="credential.nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label *ngIf="idiom =='01'" floating>Tel *</ion-label>
      <ion-label *ngIf="idiom =='02'" floating>Mobile *</ion-label>
      <ion-input type="text" [brmasker]="{mask:'(00) 00000-0000', len:15, type:'num'}" [(ngModel)]="credential.whatsapp"></ion-input>
    </ion-item>

    <ion-item *ngIf="project != 'edicom'">
      <ion-label *ngIf="idiom =='01'" floating>Data de Nasc *</ion-label>
      <ion-label *ngIf="idiom =='02'" floating>Fecha de Nasc *</ion-label>
      <ion-input type="text" [brmasker]="{mask:'00/00/0000', len:10, type:'num'}" [(ngModel)]="credential.nascimento"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label *ngIf="idiom =='01'" floating>E-mail *</ion-label>
      <ion-label *ngIf="idiom =='02'" floating>Correo *</ion-label>
      <ion-input type="email" [(ngModel)]="credential.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label  *ngIf="habilitaCampos && idiom =='01'" floating>Senha **</ion-label>
      <ion-label  *ngIf="!habilitaCampos && idiom =='01'" floating>Senha *</ion-label>
      <ion-label  *ngIf="habilitaCampos && idiom =='02'" floating>Contraseña **</ion-label>
      <ion-label  *ngIf="!habilitaCampos && idiom =='02'" floating>Contraseña *</ion-label>
      <ion-input type="password" [(ngModel)]="credential.password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label  *ngIf="habilitaCampos && idiom =='01'" floating>Confirmar Senha **</ion-label>
      <ion-label  *ngIf="!habilitaCampos && idiom =='01'" floating>Confirmar Senha *</ion-label>
      <ion-label  *ngIf="habilitaCampos && idiom =='02'" floating>Confirmar Contraseña **</ion-label>
      <ion-label  *ngIf="!habilitaCampos && idiom =='02'" floating>Confirmar Contraseña *</ion-label>
      <ion-input type="password" [(ngModel)]="password2"></ion-input>
    </ion-item>
  
  </ion-card>
  <div padding class="grid-style">
    <button class="button-style button-style-{{ENV.PROJECT}}" *ngIf="idiom =='01'" ion-button (click)="confirm()"><p>Confirmar</p></button>
    <button class="button-style button-style-{{ENV.PROJECT}}" *ngIf="credential.firstAccess == false &&  idiom =='01'" ion-button (click)="cancel()"><p>Voltar</p></button>

    <button class="button-style button-style-{{ENV.PROJECT}}" *ngIf="idiom =='02'" ion-button (click)="confirm()"><p>Confirmar</p></button>
    <button class="button-style button-style-{{ENV.PROJECT}}" *ngIf="credential.firstAccess == false && idiom =='02'" ion-button (click)="cancel()"><p>Volver</p></button>
  </div>
</ion-content>