full-promo-home {

  .card-background-administrativo{
    height: 200px;
    background: url(https://homolog.fullpromo.com.br/storage/uploads/home-admin-bg.png);
    background-position: left center;
    margin-bottom: 30px !important;
    color: #fff;
    background-size: cover;
    border-radius: 0;
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 10px 5px #0004;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .card-background-treinamento{
    height: 200px;
    background: url(https://homolog.fullpromo.com.br/storage/uploads/home-treinamento-bg.png);
    background-position: left center;
    margin-bottom: 30px !important;
    color: #fff;
    background-size: cover;
    border-radius: 0;
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 10px 5px #0004;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .card-background-beneficio{
    height: 200px;
    background: url(https://homolog.fullpromo.com.br/storage/uploads/home-beneficios-bg.png);
    background-position: left center;
    margin-bottom: 30px !important;
    color: #fff;
    background-size: cover;
    border-radius: 0;
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 10px 5px #0004;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
