<ion-header [ngClass]="version == '01' ? 'principalHeader' : version == '02' ? 'principalHeaderV02' : 'principalHeader'"  class=principalHeader>
  <img [ngClass]="version == '01' ? 'principal-icon' : version == '02' ? 'principal-icon-v02' : 'principal-icon'"
     src="{{ globalUrl + clienteCompanyLogo }}" />
     
  <img *ngIf="version == '01'" class="testeira-v01" 
  src="{{ globalUrl + '/storage/uploads/configs/testeira1.png' }}" >

  <img *ngIf="version == '02'" class="testeira-v02" 
  src="{{ globalUrl + '/storage/uploads/configs/testeira2.png' }}" >
  <p class="header-title header-title-{{ENV.HEADER_TEXT}}">{{titleTesteira}}  {{complementTitle? '| ' + complementTitle : ''}}</p>
  <menu-sup></menu-sup>
</ion-header>

<ion-content id="body" class="full-promo-bg" [ngClass]="version == '01' ? 'margin-content-l1' : version == '02' ? 'margin-content-l2' : 'margin-content-l1'">
   
  <div style="padding: 20px; color: #fff;">
    <h5>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
        veniam, quis nostrud exercitation ullamco laboris 
    </h5>
  </div>


  <div style="padding: 20px; margin-bottom: 200px;">
    <ion-card class="card-background-administrativo" (click)="goTo('administrativo')">
      <div class="card-title"><h1 style="color: #fff;"><b>Administrativo</b></h1></div>
      <div class="card-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
        veniam, quis nostrud exercitation ullamco laboris n</div>
    </ion-card>
  
    <ion-card class="card-background-treinamento" (click)="goTo('treinamento')">
      <div class="card-title"><h1 style="color: #fff;"><b>Treinamento</b></h1></div>
      <div class="card-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
         veniam, quis nostrud exercitation ullamco laboris n</div>
    </ion-card>
  
    <ion-card class="card-background-beneficio" (click)="goTo('beneficio')">
      <div><p style="color: #fff; position: flex; background-color: black; display: inline-block; padding: 5px; float: right; "><b>Em breve</b></p></div>

      <div class="card-title"><h1 style="color: #fff;"><b>Benefícios</b></h1></div>
      <div class="card-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
        veniam, quis nostrud exercitation ullamco laboris n</div>
    </ion-card>
  </div>
</ion-content>
