<ion-content padding class="background">
  <div style="padding-top: 80px;">
    <p *ngIf="_attachments.length == 0 && idiom =='01'" style="color: white;">Você ainda não baixou conteúdo offline. Acesse o sistema e baixe seu conteúdo.</p>
    <p *ngIf="_attachments.length == 0 && idiom =='02'" style="color: white;">Aún no ha descargado contenido sin conexión. Accede al sistema y descarga su contenido.</p>
    <ion-list>
      <button ion-item no-padding *ngFor="let attachment of _attachments; trackBy: attachment?.id"
        (click)="openContent(attachment)">
        <ion-row>
          <ion-col col-2 style="justify-content: center; display: flex; align-items: center;">
            <ion-icon name="clipboard" *ngIf="!attachment.isVideo"></ion-icon>
            <ion-icon name="play" *ngIf="attachment.isVideo"></ion-icon>
          </ion-col>
          <ion-col col-10><span class=titleContent>{{attachment.name}}</span></ion-col>
        </ion-row>
      </button>
    </ion-list>

    <div>
      <button class="button-style button-style-{{ENV.PROJECT}}" *ngIf="idiom =='01'" ion-button (click)="close()"><p>Voltar</p></button>
      <button class="button-style button-style-{{ENV.PROJECT}}" *ngIf="idiom =='02'" ion-button (click)="close()"><p>Volver</p></button>
    </div>
  </div>
</ion-content>


