// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

$font-family-md-base: "Verdana";
$font-family-ios-base: "Verdana";
$font-family-wp-base: "Verdana";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,  //DEFAULT
  //primary:    #fc5A16,  //KNOW HOUSE -----------------
  //primary:    #49a6c9,  //EDICOM -----------------
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #fff,
  dark:       #222,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


:root {

  $url-edicom: "https://edicom.becinteligencia.com//storage//uploads//configs//";
  $url-know-house: "https://knowhouse.marketinghouse.com.br//storage//uploads//configs//";
  $url-vcc: "https://vcc.becinteligencia.com///storage//uploads//configs//";
  $url-mrkhouse: "https://homolog.marketinghouse.com.br//storage//uploads//configs//";
  $url-descubre: "https://descubre.hkt369.com///storage//uploads//configs//";
  $url-simples-trade: "https://simplestrade.becinteligencia.com//storage//uploads//configs//";
  $url-r2m: "https://readytomarket.becinteligencia.com//storage//uploads//configs//";
  $url-ava: "https://ava.insighttech.com.br//storage//uploads//configs//";
  $url-tmc: "https://tmc.becinteligencia.com//storage//uploads//configs//";
  $url-hability: "https://hability.becinteligencia.com//storage//uploads//configs//";
  $url-full-promo: "https://homolog.fullpromo.com.br//storage//uploads//configs//";
  $url-sehc: "https://sehc.becinteligencia.com//storage//uploads//configs//";

  ion-icon {
    //-------------------------------------------------------
    //EDICON -------------------------------------------------------
    //-------------------------------------------------------

    &[class*="tab-edicom-"]{
      width: 30px;
      height: 30px;
    }
/*     &[ng-reflect-is-active="true"]{
      filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
    }
    &[ng-reflect-is-active="false"]{
      filter: none;
    } */
    &[ng-reflect-is-active="true"]{
      filter: invert(64%) sepia(58%) saturate(448%) hue-rotate(153deg) brightness(83%) contrast(88%);
    }
    &[class*="tab-edicom-perfil"]{
      content: url($url-edicom+"internoApp1.svg") !important;
    }
    &[class*="tab-edicom-notificacao"]{
      content: url($url-edicom+"internoApp2.svg") !important;
    }
    &[class*="tab-edicom-agenda"]{
      content: url($url-edicom+"internoApp3.svg") !important;
    }
    &[class*="tab-edicom-foto"]{
      content: url($url-edicom+"internoApp4.svg") !important;
    }
    &[class*="tab-edicom-news"]{
      content: url($url-edicom+"internoApp5.svg") !important;
    }

    //-------------------------------------------------------
    //KNOW HOUSE -------------------------------------------------------
    //-------------------------------------------------------

    &[class*="tab-knowh-"]{
      width: 30px;
      height: 30px;
    }

    &[class*="tab-knowh-perfil"]{
      content: url($url-know-house+"internoApp1.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-knowh-notificacao"]{
      content: url($url-know-house+"internoApp2.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-knowh-agenda"]{
      content: url($url-know-house+"internoApp3.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-knowh-foto"]{
      content: url($url-know-house+"internoApp4.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-knowh-news"]{
      content: url($url-know-house+"internoApp5.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }

    //-------------------------------------------------------
    //VCC -------------------------------------------------------
    //-------------------------------------------------------

    &[class*="tab-vcc-"]{
      width: 30px;
      height: 30px;
    }

    &[class*="tab-vcc-perfil"]{
      content: url($url-vcc+"internoApp1.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-vcc-notificacao"]{
      content: url($url-vcc+"internoApp2.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-vcc-agenda"]{
      content: url($url-vcc+"internoApp3.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-vcc-foto"]{
      content: url($url-vcc+"internoApp4.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-vcc-news"]{
      content: url($url-vcc+"internoApp5.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }

    //-------------------------------------------------------
    //MARKETING HOUSE -------------------------------------------------------
    //-------------------------------------------------------

    &[class*="tab-mrkhouse-"]{
      width: 30px;
      height: 30px;
    }

    &[class*="tab-mrkhouse-perfil"]{
      content: url($url-mrkhouse+"internoApp1.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-mrkhouse-notificacao"]{
      content: url($url-mrkhouse+"internoApp2.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-mrkhouse-agenda"]{
      content: url($url-mrkhouse+"internoApp3.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-mrkhouse-foto"]{
      content: url($url-mrkhouse+"internoApp4.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-mrkhouse-news"]{
      content: url($url-mrkhouse+"internoApp5.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }

    //-------------------------------------------------------
    //DESCUBRE -------------------------------------------------------
    //-------------------------------------------------------

    &[class*="tab-hkt369-"]{
      width: 30px;
      height: 30px;
    }

    &[class*="tab-hkt369-perfil"]{
      content: url($url-descubre+"internoApp1.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-hkt369-notificacao"]{
      content: url($url-descubre+"internoApp2.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-hkt369-agenda"]{
      content: url($url-descubre+"internoApp3.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-hkt369-foto"]{
      content: url($url-descubre+"internoApp4.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-hkt369-news"]{
      content: url($url-descubre+"internoApp5.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }


    //-------------------------------------------------------
    //SIMPLE TRADE -------------------------------------------------------
    //-------------------------------------------------------

    &[class*="tab-strade-"]{
      width: 30px;
      height: 30px;
    }

    &[class*="tab-strade-perfil"]{
      content: url($url-simples-trade+"internoApp1.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-strade-notificacao"]{
      content: url($url-simples-trade+"internoApp2.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-strade-agenda"]{
      content: url($url-simples-trade+"internoApp3.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-strade-foto"]{
      content: url($url-simples-trade+"internoApp4.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-strade-news"]{
      content: url($url-simples-trade+"internoApp5.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }

    //-------------------------------------------------------
    //READY TO MARKET -------------------------------------------------------
    //-------------------------------------------------------

    &[class*="tab-r2m-"]{
      width: 30px;
      height: 30px;
    }

    &[class*="tab-r2m-perfil"]{
      content: url($url-r2m+"internoApp1.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-r2m-notificacao"]{
      content: url($url-r2m+"internoApp2.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-r2m-agenda"]{
      content: url($url-r2m+"internoApp3.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-r2m-foto"]{
      content: url($url-r2m+"internoApp4.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-r2m-news"]{
      content: url($url-r2m+"internoApp5.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }

    //-------------------------------------------------------
    //AVA INSIGHTTECH -------------------------------------------------------
    //-------------------------------------------------------

    &[class*="tab-ava-"]{
      width: 30px;
      height: 30px;
    }

    &[class*="tab-ava-perfil"]{
      content: url($url-ava+"internoApp1.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-ava-notificacao"]{
      content: url($url-ava+"internoApp2.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-ava-agenda"]{
      content: url($url-ava+"internoApp3.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-ava-foto"]{
      content: url($url-ava+"internoApp4.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-ava-news"]{
      content: url($url-ava+"internoApp5.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    
    //-------------------------------------------------------
    //TMC -------------------------------------------------------
    //-------------------------------------------------------

    &[class*="tab-tmc-"]{
      width: 30px;
      height: 30px;
    }

    &[class*="tab-tmc-perfil"]{
      content: url($url-tmc+"internoApp1.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-tmc-notificacao"]{
      content: url($url-tmc+"internoApp2.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-tmc-agenda"]{
      content: url($url-tmc+"internoApp3.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-tmc-foto"]{
      content: url($url-tmc+"internoApp4.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-tmc-news"]{
      content: url($url-tmc+"internoApp5.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }

    //-------------------------------------------------------
    //HABILITY -------------------------------------------------------
    //-------------------------------------------------------

    &[class*="tab-hability-"]{
      width: 30px;
      height: 30px;
    }

    &[class*="tab-hability-perfil"]{
      content: url($url-hability+"internoApp1.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-hability-notificacao"]{
      content: url($url-hability+"internoApp2.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-hability-agenda"]{
      content: url($url-hability+"internoApp3.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-hability-foto"]{
      content: url($url-hability+"internoApp4.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-hability-news"]{
      content: url($url-hability+"internoApp5.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }   
    
    
    //-------------------------------------------------------
    //FULL PROMO -------------------------------------------------------
    //-------------------------------------------------------

    &[class*="tab-full-promo-"]{
      width: 30px;
      height: 30px;
    }

    &[class*="tab-full-promo-perfil"]{
      content: url($url-full-promo+"internoApp1.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-full-promo-notificacao"]{
      content: url($url-full-promo+"internoApp2.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-full-promo-agenda"]{
      content: url($url-full-promo+"internoApp3.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-full-promo-foto"]{
      content: url($url-full-promo+"internoApp4.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-full-promo-news"]{
      content: url($url-full-promo+"internoApp5.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }    
    
    //-------------------------------------------------------
    //SEHC -------------------------------------------------------
    //-------------------------------------------------------

    &[class*="tab-sehc-"]{
      width: 30px;
      height: 30px;
    }

    &[class*="tab-sehc-perfil"]{
      content: url($url-sehc+"internoApp1.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-sehc-notificacao"]{
      content: url($url-sehc+"internoApp2.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-sehc-agenda"]{
      content: url($url-sehc+"internoApp3.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-sehc-foto"]{
      content: url($url-sehc+"internoApp4.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }
    &[class*="tab-sehc-news"]{
      content: url($url-sehc+"internoApp5.svg") !important;
      &[ng-reflect-is-active="true"]{
        filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
      }
      &[ng-reflect-is-active="false"]{
        filter: none;
      }
    }    
  }
}

/*   :root {

    ion-icon {
        &[class*="tab-edicom-"]{
          width: 30px;
          height: 30px;
        }
        &[class*="tab-edicom-perfil"]{
          content: url("https://edicom.becinteligencia.com//storage//uploads//configs//internoApp1.svg") !important;
          filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
          &[ng-reflect-is-active="false"]{
            filter: none;
          }
          &[ng-reflect-is-active="true"] {
            filter: invert(46%) sepia(60%) saturate(2731%) hue-rotate(202deg) brightness(102%) contrast(101%);
          }
        } 
    }
} */
