<ion-badge *ngIf="pendentChat" color="danger" round [ngClass]="version == '01' ? 'top-badge badge-margin-v1' : version == '02' ? 'top-badge badge-margin-v2' : 'top-badge badge-margin-v1'">!</ion-badge>
<!-- <a *ngIf="version == '01' || version == '02' && active != true" (click)="redirectToChatPage()" [ngClass]="version == '01' ? 'menu-top menu-height-v1' : version == '02' ? 'menu-top menu-height-v2' : 'menu-top menu-height-v1'"></a> -->
<button *ngIf="(version == '01' || version == '02') && active != true" outline (click)="redirectToChatPage()" [ngClass]="version == '01' ? 'menu-top menu-height-v1' : version == '02' ? 'menu-top menu-height-v2' : 'menu-top menu-height-v1'" ion-button icon-only>
  <ion-icon *ngIf="project == 'ead'" [ngClass]="active == true ? 'vcc-custom-chat-active' : 'vcc-custom-chat'"></ion-icon>
  <ion-icon *ngIf="project == 'edicom'" [ngClass]="active == true ? 'edicom-custom-chat-active' : 'edicom-custom-chat'"></ion-icon>
  <ion-icon *ngIf="project == 'marketing-house'" [ngClass]="active == true ? 'mrkhouse-custom-chat-active' : 'mrkhouse-custom-chat'"></ion-icon>
  <ion-icon *ngIf="project == 'know-house'" [ngClass]="active == true ? 'knowh-custom-chat-active' : 'knowh-custom-chat'"></ion-icon>
  <ion-icon *ngIf="project == 'hkt369'" [ngClass]="active == true ? 'hkt369-custom-chat-active' : 'hkt369-custom-chat'"></ion-icon>
  <ion-icon *ngIf="project == 'simples-trade'" [ngClass]="active == true ? 'strade-custom-chat-active' : 'strade-custom-chat'"></ion-icon>
  <ion-icon *ngIf="project == 'r2m'" [ngClass]="active == true ? 'r2m-custom-chat-active' : 'r2m-custom-chat'"></ion-icon>
  <ion-icon *ngIf="project == 'ava'" [ngClass]="active == true ? 'ava-custom-chat-active' : 'ava-custom-chat'"></ion-icon>
  <ion-icon *ngIf="project == 'tmc'" [ngClass]="active == true ? 'tmc-custom-chat-active' : 'tmc-custom-chat'"></ion-icon>
  <ion-icon *ngIf="project == 'hability'" [ngClass]="active == true ? 'hability-custom-chat-active' : 'hability-custom-chat'"></ion-icon>
  <ion-icon *ngIf="project == 'full-promo'" [ngClass]="active == true ? 'full-promo-custom-chat-active' : 'full-promo-custom-chat'"></ion-icon>
  <ion-icon *ngIf="project == 'sehc'" [ngClass]="active == true ? 'sehc-custom-chat-active' : 'sehc-custom-chat'"></ion-icon>
</button>

<button *ngIf="(version == '01' || version == '02')  && active == true" [disabled]="true" outline [ngClass]="version == '01' ? 'menu-top menu-height-v1' : version == '02' ? 'menu-top menu-height-v2' : 'menu-top menu-height-v1'" ion-button icon-only>
  <ion-icon *ngIf="project == 'ead'" [ngClass]="active == true ? 'vcc-custom-chat-active' : 'vcc-custom-chat'"></ion-icon>
  <ion-icon *ngIf="project == 'edicom'" [ngClass]="active == true ? 'edicom-custom-chat-active' : 'edicom-custom-chat'"></ion-icon>
  <ion-icon *ngIf="project == 'marketing-house'" [ngClass]="active == true ? 'mrkhouse-custom-chat-active' : 'mrkhouse-custom-chat'"></ion-icon>
  <ion-icon *ngIf="project == 'know-house'" [ngClass]="active == true ? 'knowh-custom-chat-active' : 'knowh-custom-chat'"></ion-icon>
  <ion-icon *ngIf="project == 'hkt369'" [ngClass]="active == true ? 'hkt369-custom-chat-active' : 'hkt369-custom-chat'"></ion-icon>
  <ion-icon *ngIf="project == 'simples-trade'" [ngClass]="active == true ? 'strade-custom-chat-active' : 'strade-custom-chat'"></ion-icon>
  <ion-icon *ngIf="project == 'r2m'" [ngClass]="active == true ? 'r2m-custom-chat-active' : 'r2m-custom-chat'"></ion-icon>
  <ion-icon *ngIf="project == 'ava'" [ngClass]="active == true ? 'ava-custom-chat-active' : 'ava-custom-chat'"></ion-icon>
  <ion-icon *ngIf="project == 'tmc'" [ngClass]="active == true ? 'tmc-custom-chat-active' : 'tmc-custom-chat'"></ion-icon>
  <ion-icon *ngIf="project == 'hability'" [ngClass]="active == true ? 'hability-custom-chat-active' : 'hability-custom-chat'"></ion-icon>
  <ion-icon *ngIf="project == 'full-promo'" [ngClass]="active == true ? 'full-promo-custom-chat-active' : 'full-promo-custom-chat'"></ion-icon>
  <ion-icon *ngIf="project == 'sehc'" [ngClass]="active == true ? 'sehc-custom-chat-active' : 'sehc-custom-chat'"></ion-icon>
</button>
