<ion-header [ngClass]="version == '01' ? 'principalHeader' : version == '02' ? 'principalHeaderV02' : 'principalHeader'">
  <div>
    <img [ngClass]="version == '01' ? 'principal-icon' : version == '02' ? 'principal-icon-v02' : 'principal-icon'"
     src="{{ globalUrl + clienteCompanyLogo }}" />

    <img *ngIf="version == '01'" class="testeira-v01" 
    src="{{ globalUrl + '/storage/uploads/configs/testeira1.png' }}" >

    <img *ngIf="version == '02'" class="testeira-v02" 
    src="{{ globalUrl + '/storage/uploads/configs/testeira2.png' }}" >
    
    <p class="header-title header-title-{{ENV.HEADER_TEXT}}">{{titleTesteira}}  {{complementTitle? '| ' + complementTitle : ''}}</p>
  </div>
  <menu-sup></menu-sup>
</ion-header>

<ion-content class="content {{ENV.PROJECT}}-custom-bg" [ngClass]="version == '01' ? 'margin-content-l1' : version == '02' ? 'margin-content-l2' : 'margin-content-l1'" padding style="margin-top: 20px; position: relative;" >
  
  <ion-searchbar [ngClass]="project == 'know-house' ?  'font-style know-house' : ''" [(ngModel)]="terms" [showCancelButton]="shouldShowCancel" placeholder="O que está buscando?">
  </ion-searchbar>

  <ion-list no-lines class="lessons-container" *ngIf="playVideo == false">
    <ion-grid>
      <ion-item *ngFor="let projeto of videos | search : terms">
        <div *ngIf="projeto.content_only == 1" (click)="presentModal(projeto.contents)">
          <div  (click)="openProject(projeto)">
            <ion-row>
              <ion-row>          
                <ion-thumbnail style="position: relative;">
                  <img src="{{ projeto.thumb }}">
                </ion-thumbnail>
              </ion-row>
              <ion-row>
                <ion-row style="width: 100%; padding: 10px 0;">
                  <h2 [ngClass]="project == 'know-house' ?  'font-style know-house-title' : ''">{{ projeto.tituloApp? projeto.tituloApp : projeto.titulo }}</h2>
                </ion-row>
                <ion-row>
                  <p>{{ projeto.descricao }}</p>
                </ion-row>
              </ion-row>
            </ion-row>
          </div>
        </div>

        <div *ngIf="projeto.content_only != 1" (click)="openProject(projeto)">
          <ion-row>
            <ion-col col-4>          
              <ion-thumbnail>
                <img *ngIf="projeto.projectConcluded && projeto.projectConcluded == true" style="position: absolute; right: 0; top: 0; left: auto; bottom: auto; height: 60px !important;" src={{iconConcluido}}>
                <img src="{{ projeto.thumb }}">
              </ion-thumbnail></ion-col>
            <ion-col col-8>
              <h2 [ngClass]="project == 'know-house' ?  'font-style know-house-title' : ''">{{ projeto.tituloApp? projeto.tituloApp : projeto.titulo }}</h2>
              <p>{{ projeto.descricao }}</p>
              <p style="font-size: 1rem;" *ngIf="idiom == '01' && projeto.content_only == 1 ">Clique aqui</p>
              <p style="font-size: 1.3rem;" *ngIf="idiom == '02' && projeto.content_only == 1 ">Haz clic aquí.</p>
            </ion-col>
          </ion-row>
        </div>
        
      </ion-item>
    </ion-grid>
  </ion-list>
  
  <div *ngIf="playVideo">
    <div *ngIf="exibirVideo">
      <video #videoPlayer class="video-player" autoplay="true" controls controlsList="nodownload" style="max-width: 100%; max-height: 100%;"></video>
    </div>
    <iframe *ngIf="exibirEmbed" [src]="sanitizer(urlEmbed)" style="width:100%" frameborder="0" height="300" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <button ion-button float-right class="cancel-button" (click)="cleanVideo()">Voltar</button>
  </div>

</ion-content>
